/* ============================= */
/* 🔹 RESET / BASE */
/* ============================= */

body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--text);
}

p {
  font-weight: 600;
  width: 80%;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.2rem;
  color: var(--text);
}

.destaque {
  color: var(--primary);
}


/* ============================= */
/* 🔹 HEADER */
/* ============================= */

header {
  background-color: var(--cor-secundaria);
}

header nav ul {

}


/* ============================= */
/* 🔹 MENU */
/* ============================= */

.menu li {
  list-style-type: none;
}


/* ============================= */
/* 🔹 SOBRE MIM */
/* ============================= */

section#sobreMim img {
  border-radius: 50%;
  border: 3px solid var(--primary);
  box-shadow: 0 0 20px rgba(88,166,255,0.5);
}

div#continer-foto img {
  max-width: 280px;
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* ============================= */
/* 🔹 BOTÃO CV */
/* ============================= */

.btn-cv {
  display: inline-block;
  margin-top: 2rem;
  padding: 14px 28px;
  border-radius: 10px;

  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  box-shadow: 0 0 0 rgba(88, 166, 255, 0);
}

.btn-cv:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 10px 25px rgba(88, 166, 255, 0.25);
}


/* ============================= */
/* 🔹 TECNOLOGIAS / ESTEIRA */
/* ============================= */

/* container do efeito */
.slider {
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 650px) {
  .slider {
    width: 100%;
  }
}

/* linha de itens */
.track {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

/* cada item */
.tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  flex-shrink: 0;

  background: var(--card);
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.tech-item:hover {
  transform: translateY(-5px);
  border: 1px solid #58A6FF;
}

/* imagens */
#tecnologias img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* título */
section#tecnologias h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* fade nas pontas */
.slider::before,
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 90px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, var(--bg), transparent);
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, var(--bg), transparent);
}


/* ============================= */
/* 🔹 FOOTER */
/* ============================= */

footer ul {
  list-style: none;
}