/* ===== RESET E FONT ===== */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}

/* ===== HEADER ===== */
header {
  background-color: var(--cor-secundaria);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== SOBRE MIM ===== */
section#sobreMim img {
  border-radius: 50%;
  border: 3px solid var(--primary);
  box-shadow: 0 0 20px rgba(88,166,255,0.5);
}

h1 {
  font-size: 2.2rem;
  color: var(--text);
}

.destaque {
  color: var(--primary);
}

div.container-sobreMim {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div#continer-foto img {
  max-width: 280px;
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ===== MENU MOBILE ===== */
.menu li {
  list-style-type: none;
}
/* ===== FOOTER ===== */
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* ===== TECNOLOGIAS / ESTEIRA ===== */

/* container do efeito */

.slider {
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 650px) {
  .slider {
    width: 100%;
  }
}

/* linha de itens */
.track {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

/* cada item */
.tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  flex-shrink: 0;

  background: var(--card);
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.tech-item:hover {
  transform: translateY(-5px);
  border: 1px solid #58A6FF;
}

/* imagens */
#tecnologias img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* ===== ADICIONAIS ===== */
/* ajustes de margem/padding se necessário */
section#tecnologias h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* FADE NAS PONTAS */
.slider::before,
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px; /* largura do fade, ajuste se quiser maior/menor */
  height: 100%;
  z-index: 2;
  pointer-events: none; /* não atrapalha o hover */
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}

/* GERAL */

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: 600;
  width: 80%;
  font-size: 1.2rem;
}

